
# Created by https://www.gitignore.io/api/php
# Edit at https://www.gitignore.io/?templates=php

#!! ERROR: php is undefined. Use list command to see defined gitignore types !!#

# End of https://www.gitignore.io/api/php
